* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(163, 130, 108);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  width: 180vh;
  height: 80vh;
  background-color: rgb(78, 49, 29);
  border-radius: 8px;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; 
  display: grid;
  grid-auto-flow: row; 
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr))
}

.card {
  width: 90%;
  max-width: 227px;
  height: 95%;
  background-color: rgb(118, 110, 105);
  border-radius: 15px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(0, 0, 0, 0.35) 0px -2px 6px 0px inset;
}

h2, p, label {
  color: white;
}

button {
  cursor: pointer;
}

.new-button {
  margin-left: auto;
  margin-right: auto;
  padding: 15px 50px;
  border-radius: 10px;
  border: 2px solid rgb(156, 132, 87);
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 0.5s cubic-bezier(0.42, 0, 0.1, 0.61);
}

.new-button:hover {
  background-color: rgb(156, 132, 87);
  color: white;
}

dialog {
  margin: auto;
  width: 55%;
  height: 55%;
  padding: 20px;
  background-color: rgb(251, 248, 242);
  border: 2px solid rgb(98, 83, 55);
  border-radius: 8px;
}
::backdrop {
  background: rgb(253, 237, 218);
  opacity: 0.75;
}


form {
  color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

label {
  color: black;
  margin: 0;
  padding: 0;
  height: 1px;
  font-size: 1.1rem;
}

input[id="name-input"],
input[id="author-input"] {
  width: 50%;
  height: 25px;
}

input[id="pages-input"] {
  width: 25%;
  height: 25px;
}

.form-field {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.buttons-field {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
}

.buttons-field button {
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid grey;
  font-size: 1rem;
}

.close-button {
  margin-right: 50px;
}

.submit:hover {
  border: 3px solid rgb(78, 49, 29);
  transition: all 0.1s cubic-bezier(0.42, 0, 0.1, 0.61);
}

.close-button:hover {
  border: 3px solid rgb(226, 51, 51);
  transition: all 0.1s cubic-bezier(0.42, 0, 0.1, 0.61);
}