* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(163, 130, 108);
  padding: 30px;
}

.container {
  width: 180vh;
  height: 80vh;
  background-color: rgb(78, 49, 29);
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; 
  display: grid;
  grid-auto-flow: row; 
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr))
}

.card {
  width: 90%;
  max-width: 227px;
  height: 95%;
  background-color: rgb(118, 110, 105);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h2, p, label {
  color: white;
}

dialog {
  margin: auto;
  width: 45%;
  height: 45%;
  padding: 10px;
}